.cart {
    border: 1px solid #ddd;
    padding: 7px 10px 10px 10px;
    height: 720px;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hover-button {
    cursor: pointer;
    position: static;
}

.hover-button::before {
    content: "$35.00";
}

.hover-button:hover::before {
    transform: translate(-50%, -50%);
    content: "Agregar";
    transition: all 300ms;
}


/*------------------------Media Queries------------------------*/

@media (min-width: 992px) {
    .contenedor-cards {
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {
    .contenedor-cards {
        justify-content: space-evenly;
    }
}

@media (min-width: 638px) and (max-width: 991px) {
    .contenedor-productos {
        height: 490px!important;
    }    
    .cart {
        height: 700px!important;
    }
}

@media (min-width: 339px) and (max-width: 637px) {
    .contenedor-productos {
        height: 530px!important;
    }

    .cart {
        height: 660px!important;
    }
}

@media (min-width: 256px) and (max-width: 339px) {
    .contenedor-productos {
        height: 570px!important;
    }    
    .cart {
        height: 700px!important;
    }
}
